.idea
.vscode
.cache/
.torchvision_cache/
__pycache__/
*.ipynb
*.pt
*.pkl

code/inputs/index/
code/datasets/*/*
!code/datasets/*/preprocess.py
code/models/*
!code/models/.keep
code/outputs/*
!code/outputs/.keep